.nav-item {
    color: pink !important;
    font-size: x-large;
}
.navbar {
    background-color: #f3dada !important;
    font-family: 'Libre Franklin', sans-serif !important; 
    color: black;
}

.navbar a:link {
    color: black;
}

.navbar a:hover {
    text-decoration: none;
}

.navitem-selected {
    font-weight: bold !important;
}

.NavBar-items {
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: x-large !important;
    color: pink !important;
}
