.nav-item {
    padding-left: 10px;
    font-size: x-large;
}

.navbar {
    background-color: #f3dada !important;
    font-family: 'Libre Franklin', sans-serif !important; 
    font-weight: lighter;
    font-size:xx-large;
    color: black;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    text-decoration: none;
}


.NavBar-items {
    font-family: 'Libre Franklin', sans-serif !important;
    font-size: x-large !important;
    color: pink !important;
}
