
.intro-box {
    display: flex;
    justify-content: center;
    padding-top: 5vmax;
    align-items: center;
    margin-bottom: 3em;
}

.logo {
    height: 500px;
    width: 500px;
}

@media screen and ( max-width: 500px ) {
    .logo { height: 250px;
            width: 250px;}
}

.header-text {
    font-family: 'Roboto Mono', monospace;
    line-height: 96.19%;
    max-width: 900px;
    min-width: 200px;
    font-size: 48px;
}

@media screen and ( max-width: 1000px ) {
    .header-text { font-size: 40px; }
    .intro-box { flex-wrap: wrap;}
}

@media screen and (max-width: 500px ) {
    .header-text { font-size: 30px; }
}
.vl {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #000411;
    margin-left: 2em;
    padding-left: 2em;
}

.about-me {
    position: absolute;
    width: 451px;
    height: 574px;
    left: 171px;
    top: 1353px;


}

.arrow {
    position: absolute;
    left: 50%;
    font-size: 30px;
    width: 2em;
}

html {
    scroll-behavior: smooth;
}