.home {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.intro-box {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    align-items: center;
}

.logo {
    height: 500px;
    width: 500px;
}

@media screen and ( max-width: 500px ) {
    .logo { height: 250px;
            width: 250px;}
}

.header-text {
    font-family: 'Roboto Mono', monospace;
    line-height: 96.19%;
    max-width: 900px;
    min-width: 200px;
    font-size: 48px;
}

@media screen and ( max-width: 1000px ) {
    .header-text { font-size: 40px; max-width: 700px;}
    .vl { margin: 2rem;}
    .intro-box { flex-wrap: wrap;}
    .about-me { margin-top: 40vh; }
    .arrow { visibility: hidden;}
}

@media screen and (max-width: 500px ) {
    .header-text { font-size: 30px; max-width: 500px; }
}

@media screen and (max-width: 375px) {
    .logo { width: 175px; height: 175px;}
    .header-text { font-size: 25px; max-width: 300px }
}
.links > a{
    color: grey;
    display: inline-block;
    padding-right: 2rem;
}

.links > a:hover {
    color: #e1a3a3;
}

.vl {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #000411;
    margin-left: 2em;
    padding-left: 2em;
}

.about-me {
    display: flex;
    margin-top: 10vh;
}

.arrow {
    margin-top: 20vh;
    display: block;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#about {
    font-size: 48px;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 96.19%;
}

#about-text {
    font-family: 'Roboto Mono', monospace;
    padding-top: 1rem;
    font-size: 22px;
    line-height: 96.19%;
}

.about-content {
}
html {
    scroll-behavior: smooth;
}