
.intro-box {
    display: flex;
    justify-content: center;
    padding-top: 5vmax;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 500px;
    width: 500px;
}

.header-text {
    font-family: 'Roboto Mono', monospace;
    line-height: 96.19%;
    max-width: 900px;
    min-width: 200px;
}


.vl {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #000411;
    margin-left: 2em;
    padding-left: 2em;
}